# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/
ios/Pods/
android/.cxx/
android/local.properties

# IDE
.vscode/
.idea/

# Env / secrets
*.keystore
key.properties
*.jks
*.pem
*.p12
.env
